@page "{id:maxLength(36)}" /* Requires that the URL contains the event ID (baseUrl/{id}) */
@using System.Globalization
@using Microsoft.AspNetCore.Identity
@using soft20181_starter.Models
@model soft20181_starter.Pages.Events.View

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
  ViewData["Title"] = @Model.Event.Name;

  var seatsTotal = Model.Event.Capacity * 1f;
  var seatsFilled = Model.Event.Registered * 1f;

  string occupancy = "100%";
  if (Model.Event.Capacity > 0) occupancy = System.Math.Round(seatsFilled / seatsTotal, 2) * 100.0f + "%";

  User currentUser = await UserManager.GetUserAsync(User) ?? new User();
}

@section Styles {
  <link rel="stylesheet" href="~/css/events/view.css" asp-append-version="true" />
}

<div style="display: flex; flex-direction: row; margin-top: 1em; align-items: center; justify-content: space-between">
  <h1 style="margin: 0" id="title">@Model.Event.Name</h1>
  
  <a asp-page="/Events/Edit" asp-route-id="@Model.Event.Id" class="material-symbols-outlined">edit</a>
</div>
<div class="host">
  <h3>Hosted By&nbsp;</h3>
  <h3 class="host-name">@Model.EventHost</h3>
</div>
<div class="divider"></div>

<section class="event-container">
  <div class="event-media-column">
    <section class="event-media-container desktop">
      <img class="event-media"/>
      <video class="event-media" controls></video>
      <span class="navigate-button material-symbols-outlined" id="prev">chevron_left</span>
      <span class="navigate-button material-symbols-outlined" id="next">chevron_right</span>
    </section>
    <section class="booking-form-container">
      <section>
        <h2>Booking Form</h2>
        <p class="booking-form-description">Please fill out the form below to book your place at this event.</p>
      </section>

      <div class="loader">
        <img src="/assets/loader.gif" alt="loading icon"/>
        <h3></h3>
        <span>Click to refresh page</span>
      </div>
      <form id="booking-form" method="post" asp-page-handler="book">
        <div class="form-input">
          <label for="fname">First Name</label>
          <input type="text" id="fname" placeholder="" readonly="readonly" asp-for="@Model.Input.FirstName" required>
        </div>
        <div class="form-input">
          <label for="lname">Last Name</label>
          <input type="text" id="lname" placeholder="" readonly="readonly" asp-for="@Model.Input.LastName" required>
        </div>
        <div class="form-input">
          <label for="email">Email</label>
          <input type="email" id="email" placeholder="name@domain.com" readonly="readonly" asp-for="@Model.Input.Email" required>
        </div>
        <div class="form-input">
          <label for="phone">Phone Number</label>
          <input type="tel" id="phone" placeholder="" readonly="readonly" asp-for="@Model.Input.Phone">
        </div>
        
        <div class="form-input">
          <label for="ticket-count">Tickets</label>
          <input type="number" id="ticket-count" placeholder="1" min="1" max="@(Model.Event.Capacity - Model.Event.Registered)" asp-for="@Model.Input.TicketCount" required>
        </div>
        
        @* <div class="g-recaptcha" data-sitekey="6LdcOyApAAAAADTPWLvEi0RMgb3CpEDD4AYqth6V" data-callback="onRecaptchaSubmit" data-expired-callback="onRecaptchaExpire"></div> *@
        <div class="booking-term">
          <input type="checkbox" id="terms" name="terms" required>
          <label for="terms">By checking this box I agree to pay <i><strong>@Model.EventHost</strong></i> the attendance fee (listed below*) upon arrival.</label>
        </div>
        <span class="captcha-warning">Please complete the reCaptcha before submitting this form.</span>
        <div class="divider faded"></div>
        <section class="total-book">
          <h3 class="event-price"><span>*</span></h3>
          <button class="book-button">BOOK NOW <span class="material-symbols-outlined">chevron_right</span></button>
        </section>
      </form>
    </section>
  </div>

  <div class="divider vertical"></div>

  <div class="event-details">
    <h2>Details</h2>
    <section class="event-stats">
      <div class="event-stat">
        <span class="material-symbols-outlined">calendar_month</span>
        <span class="event-stat-text" id="event-date">@Model.Event.DateTime.ToLongDateString() - @Model.Event.DateTime.ToShortTimeString()</span>
      </div>
      <div class="event-stat">
        <span id="seats-filled-icon" class="material-symbols-outlined">airline_seat_recline_extra</span>
        <span class="event-stat-text" id="event-seats">@occupancy</span>
      </div>
      <div class="event-stat">
        <span class="material-symbols-outlined">location_on</span>
        <span class="event-stat-text" id="event-location">@Model.Event.Location</span>
      </div>
    </section>
    <div class="divider faded"></div>

    <p class="event-description">@Model.Event.Description</p>
  </div>
  <section class="event-media-container mobile">
    <img class="event-media" alt="event image"/>
    <video class="event-media" controls></video>
    <span class="navigate-button material-symbols-outlined" id="prev">chevron_left</span>
    <span class="navigate-button material-symbols-outlined" id="next">chevron_right</span>
  </section>
</section>
<h2 class="event-list-title">More Events</h2>
<div class="event-list"></div>

@section Scripts
{
  <script>
    $(() => {
      function formatEventDisplay() {
        const full = @Model.Event.Registered >= @Model.Event.Capacity;
        
        const past = "@(Model.Event.DateTime < DateTime.Now)" == "True";
        const bookingFormDescription = $(".booking-form-description");
        if(full || past) {
          $("#booking-form").addClass("disabled");
          $("#booking-form > .booking-term > input").prop("disabled", true);
          $("#booking-form > .form-input > input").prop("readonly", true);
          $("#booking-form > .g-recaptcha").addClass("disabled");
          $(".book-button").prop("disabled", true);
        }
        if(past) {
          $(bookingFormDescription).text("Sorry, this event has already passed.");
          $(bookingFormDescription).addClass("full");
          $(".event-description").prepend('<strong style="color: var(--urgent)">Please note: This event has already passed and is no longer taking attendees.</strong><br><br>');
        }
        // Only allow one of the two messages to be displayed. Prioritise past events.
        else if (full) {
          $(bookingFormDescription).text("Sorry, this event is now at full capacity.");
          $(bookingFormDescription).addClass("full");
          $(".event-description").prepend('<strong style="color: var(--urgent)">Please note: This event is now full and is not taking any more attendees.</strong><br><br>');
        }
      }
      
      function initMediaPlayer() {
        const videoElem = $(".event-media-container > video");
        const imgElem = $(".event-media-container > img");

        imgElem.prop("src", "@Model.Event.ImageUrl");
        
        if(@Model.Event.VideoUrl.Length === 0) $(navigateButton).hide();
        else videoElem.prop("src", "@Model.Event.VideoUrl");
        
        videoElem.hide();
      }
      
      function refreshTotal(){
        const ticketCount = $(ticketCounter).val();
        
        const price = Number.parseFloat(@Model.Event.Price);
        $(".event-price").text("£" + (price * ticketCount).toFixed(2));
      }
      
      const ticketCounter = $("#ticket-count");
      const navigateButton = $(".navigate-button");
      let showingVideo = false;
      formatEventDisplay();
      initMediaPlayer();
      refreshTotal();
      
      $(navigateButton).on("click", () => {
        showingVideo = !showingVideo;
        if(showingVideo){
          $(".event-media-container > img").fadeOut(500);
          $(".event-media-container > video").fadeIn(500);
        }
        else{
          $(".event-media-container > video").fadeOut(500);
          $(".event-media-container > img").fadeIn(500);
        }
      });
      
      $(ticketCounter).on("change", () => {
        refreshTotal();
      });
      
      $("#booking-form").on("submit", (e) => {
        $("#booking-form").hide();
        $(".loader").css("display", "flex");
        $(".loader > h3").text("Booking your spot...");
        $(".loader > span").hide();
        $(".loader").hide();
        $(".loader").slideDown(800);
      });
    })
  </script>
}
