@page
@using soft20181_starter.Models
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

@section Styles {
  <link rel="stylesheet" href="~/css/index.css" />
  <link rel="stylesheet" href="~/css/events/list.css" />
  <link rel="stylesheet" href="~/css/events/event.css" />
}

<h1>The ultimate platform for finding all sorts of events</h1>
<h3>Whether you're looking to develop new skills, network with industry professionals, or just find something fun, we have it all!</h3>    
<div id="latest-events" class="events-container">
  <h2>Upcoming Events</h2>
  <div class="event-list">
    @foreach (var e in Model.LatestEvents) {
      <div class="event" id=@e.Id>
        <div class="event-image-container">
          <img src="@(e.ImageUrl.Length == 0 ? "./assets/event-image-default.png" : e.ImageUrl)" alt="Event image"/>
        </div>
        <div class="event-info">
          <h3>@e.Name</h3>
          
          @* Host *@
          <div class="event-detail-container">
            <span class="material-symbols-outlined">domain</span>
            <p class="event-detail">
              @{User? host = Model.db.Users.FirstOrDefault(user => user.Id == e.HostId); }
              @(host?.UserName ?? "")
            </p>
          </div>
          
          @* Date *@
          <div class="event-detail-container">
            <span class="material-symbols-outlined">event</span>
            <p class="event-detail">@e.DateTime.ToLongDateString() - @e.DateTime.ToShortTimeString()</p>
          </div>
          
          @* Price *@
          <div class="event-price-container">
            <p class="event-detail">£0.00</p>
          </div>
        </div>
      </div>
    }
  </div>
</div>

<div id="cheapest-events" class="events-container">
  <h2>Cheapest Events</h2>
  <div class="event-list">
    @foreach (var e in Model.CheapestEvents) {
      <div class="event" id=@e.Id>
        <div class="event-image-container">
          <img src="@(e.ImageUrl.Length == 0 ? "./assets/event-image-default.png" : e.ImageUrl)" alt="Event image"/>
        </div>
        <div class="event-info">
          <h3>@e.Name</h3>
          
          @* Host *@
          <div class="event-detail-container">
            <span class="material-symbols-outlined">domain</span>
            <p class="event-detail">
              @{User? host = Model.db.Users.FirstOrDefault(user => user.Id == e.HostId); }
              @(host?.UserName ?? "")
            </p>
          </div>
          
          @* Date *@
          <div class="event-detail-container">
            <span class="material-symbols-outlined">event</span>
            <p class="event-detail">@e.DateTime.ToLongDateString() - @e.DateTime.ToShortTimeString()</p>
          </div>
          
          @* Price *@
          <div class="event-price-container">
            <p class="event-detail">£0.00</p>
          </div>
        </div>
      </div>
    }
  </div>
</div>